.footer {
    @extend %flexbox;
}

@import "../componentes/mapas";
.footer {
    background-color: map-get($perfil-f, bg-color-f);
    border: map-get($perfil-f, border-f);
    font-size: map-get($perfil-f, font-f);
}

